body {
  background-color: #222;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}

h1 {
  text-align: left;
  font-size: 2em;
  padding-left: 8vh;
}

.target-text-container {
  text-align: center;
  position: relative;
  max-width: max-content;
  margin: 0 auto;
}

.word {
  border: 1px solid #ccc;
  position: absolute;
  top: 10vh;
  z-index: 0; 
  text-align: center;
  margin: 10vh;
  font-size: 4em;
  max-width: 20em;
  word-wrap: break-word;
}

.placeholder {
  top: 0;
  left: 0;
  color: #888;
  pointer-events: none;
}

.target-text-input {
  top: 10vh;
  text-align: center;
  margin: 10vh;
  background-color: transparent;
  border: none;
  font-size: 4em;
  border: 1px solid #ccc;
  outline: none;
  color: transparent;
  position: relative; 
  z-index: 1; 
  width: 20em;
  word-wrap: break-word;
}

.target-text-input:focus {
  border-color: #00a0d1;
  transition: 0.5s;
}

.target-text-input::placeholder {
  
}

.letra-correcta {
  color: #00a0d1;
}

.letra-incorrecta {
  color: #ff0000;
}
